// Genericos
body {
  font-family: 'Roboto', sans-serif; // Letra por defecto
  background-color: whitesmoke;
}

// Navbar
.navbar {
    box-shadow: 2px 2px 5px gray;
    opacity: 0.9; //90%
    
    // Cada item del menú
    .nav-item .nav-link {
        color: gainsboro;
    }
}

// Cabecera
.main-header {
    position: relative;
    background: url(../images/background.jpg);
    background-size: cover;
    // min-height: 700px;
    // Trasparencia
    .background-overlay {
        //position: absolute;
        background: rgba(48, 51, 107,.7); // Trasparencia
        // resoluciones respecto a su padre
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Suscripcion Formulario
.form-control, .btn{
  border-radius: 0;
}

// Card de caracteristicas
.card-caracteristicas {
    height: 100%;
}